
html{
  background: url('/images/spinsterRecords.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.main-home {
  background-image: linear-gradient(to bottom,rgba(255,255,255,0.7),rgba(255,255,255,0.4),rgba(255,255,255,0.3), rgba(255,255,255,0.0));
  padding-bottom: 100px; 
  padding-top: 10px;
 
 }

 .nav-bar{
  text-align: center;
  
}
.nav-bar h1{
  color: white;
  text-shadow: 2px 2px  rgba(0,128,128,1);
  margin-left: 20px;

}
.nav-list{
  list-style-type: none;

}
.nav-list a{
  text-decoration: none;
}
.nav-list li{
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 50px;
}

.nav-link{
  border: 5px solid white;
  border-radius: 25px;
  padding: 30px;
  color: white;
  background-color: rgba(0,128,128,0.5);
  transition: background-color 0.5s ease;
}
.nav-link:hover{
  background-color: rgba(0,128,128,1);
}
@media screen and (max-width: 768px) {
  .nav-link{
    border: 3px solid white;
    border-radius: 25px;
    padding: 12px;
    color: white;
    background-color: rgba(0,128,128,0.5);
    transition: background-color 0.5s ease;
  }
.nav-list li{
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 50px;
  margin-left:10px;
}
.nav-bar h1{
  color: white;
  font-size: 25px;
  text-align: center;
  margin-left: 40px;

}




}