.profile-container{
    width: 80%;
    margin: 0 auto;
    background-color: rgba(0,128,128,0.8);
    border: 3px solid white;
    border-radius: 25px;
    margin-bottom: 30px;

}
.profile h2{
    text-align: center;
    color: white;

}

.profile-Btn {
    
    padding: 20px;
    background-color: rgba(0,128,128,0.2);
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    margin-right: 10px;
}

.profile-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -10px;
    margin-bottom: 20px;
}


