.cart-container{
    width: 80%;
    margin: 0 auto;
    background-color: rgba(0,128,128,0.8);
    border: 3px solid white;
    border-radius: 25px;
    margin-bottom: 30px;

}
.cart h2{
    text-align: center;
    color: white;

}

.cart-table{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 100px;
}

.cart-col{
    columns: 1;
   
}
.cart-col-first h4{
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 0px;
    padding: 20px 40px;
    background-color:  rgba(55, 127, 102, 0.8);
    color: white;
    margin-bottom: 0px;

}
.cart-col h4{
    border-top: 2px solid black;
    border-left: 2px solid black;
    
    border-top-right-radius: 0px;
    padding: 20px 40px;
    background-color:  rgba(55, 127, 102, 0.8);
    color: white;
    margin-bottom: 0px;
}
.cart-col-last h4{
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top-left-radius: 0px;
    border-top-right-radius: 5px;
    padding: 20px 40px;
    background-color:  rgba(55, 127, 102, 0.8);
    color: white;
    margin-bottom: 0px;
}


.item-album {
    border-top: 2px solid black;
    border-left: 2px solid black;
    text-align: center;
    padding: 21.5px 5px;
    background-color: rgba(255,255,255,0.6);
    font-size: 12px;
}

.item-artist {
    border-top: 2px solid black;
    border-left: 2px solid black;
    text-align: center;
    padding: 20px 0;
    background-color: rgba(255,255,255,0.5);
}

.item {
    border-top: 2px solid black;
    border-left: 2px solid black;
    text-align: center;
    padding: 20px 0;
    background-color: rgba(255,255,255,0.5);

}

.item:last-of-type{
    border-bottom: 2px solid black;
}
.item-artist:last-of-type {
    border-bottom: 2px solid black;
}
.item-album:last-of-type {
    border-bottom: 2px solid black;
}

.item-remove:last-of-type {
    border-bottom: 2px solid black;
}


.item-remove {
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    text-align: center;
    padding: 19px 0;
    background-color: rgba(255,255,255,0.5);

}

.cart-table-bottom{
    margin-left: 15%;
    margin-right: 15%;
    width: 65%;
    padding-left: 5%;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-top: -40px;
    margin-bottom: 40px;
    background-color: rgba(255,255,255,0.4);
}
.price-holder button {
   margin-top: 15px;
   
}
.price-holder div{
    padding-bottom: 5px;
}
.show-me-cart {
    display: block;

}

.hide-me-cart {
    display: none;
}

.empty-cart {
    width: 30%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 200px;
    color: white;
   
}