.record-holder {
    background-color: white;
    width: 200px;
    height:200px;
    margin-left: 20px;
    border: 5px solid rgba(55, 127, 102, 1);
    margin-bottom: 180px;
}
.record-album {
    padding: 3px;
    font-size: 14px;
}

.record-price {
    padding:3px;
}

.record-cart input{
    width: 30px;
    float: right;
}
.number-btn{
    float: right;
}
.hide-me {
    display: none;
    color: white;
}
.show-me {
    display: block;
    color: red;
    font-weight: bold;
}
.record-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;


}